ComputeNode/Tests/Test harness/DataFlow.ComputeNode.ServceTestHarness/Service References/Status/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://aistek.dataflow/services/scheduler/" elementFormDefault="qualified" targetNamespace="http://aistek.dataflow/services/scheduler/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetServerVersion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetServerVersionResult" nillable="true" type="q1:Version" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>